body,header{display:flex}
header,main{background:#dec78e;width:100%}
body,header #logo,html{height:100%}
header #plan,main #forma button{background-color:#205167;color:#f0f0e8}
*{margin:0;padding:0;box-sizing:border-box}
body{font-family:Verdana,sans-serif;line-height:1.6;color:#222;flex-direction:column}
header{position:absolute;flex-direction:row;align-items:center;height:60px;padding:0 5%}
header #logo{justify-content:left;padding-left:35px;padding-top:2px}
header #navigation{position:absolute;left:50%;transform:translateX(-50%)}
header #logo img{width:auto;max-height:100%}
header #navigation #header-nav{list-style:none;display:flex;gap:1.5rem;align-items:center}
main,main #info-box{flex-direction:column}
header #navigation #header-nav li a{
    text-decoration:none;background-color:#dec78e;
    color:#205167;font-weight:200}
header #plan{
    position:absolute;right:10%;border:none;border-radius:2px;
    cursor:pointer;padding:.5rem 1rem;font-size:1rem}
main #forma,main #info-box{font-size:20px;display:flex}
header #plan:hover,main #forma button:hover{color:#dec78e}
main{display:flex;flex-grow:1}
main #info-box{
    width:1000px;padding:40px 80px;height:100%;
    justify-content:space-around;margin-top:75px;align-items:center;
    align-self:center;background-color:#fff;border-top:2px solid #000;
    border-left:2px solid #000;border-right:2px solid #000;
    border-top-left-radius:20px;border-top-right-radius:20px}
main #forma{
    border:2px dashed #000;padding:40px;background-color:#ffe99f;
    flex-direction:column;align-items:center}
main #forma-container{display:flex;flex-direction:row;gap:10px}
main #forma-subcontainer1,main #forma-subcontainer2{display:flex;flex-direction:column;gap:10px}
main #forma-subcontainer2 input{height:32px;font-size:15px}
main #forma-subcontainer2 textarea{height:60px;font-size:15px;resize:none}
main #forma button{font-size:17px;height:30px;width:350px;margin-top:30px}
footer{background:#205167;color:#f0f0e8;padding:20px;text-align:center;flex-grow:0;position:relative}
