* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: "Verdana", sans-serif; line-height: 1.6; color: #222;  }

header {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    background: #DEC78E;
    padding: 0 5%;
    width: 100%;
    flex-grow: 0;
    border: black solid 1.5px;
}

header #logo{
    justify-content: left;
    padding-left: 35px;
    padding-top: 2px;
    height:100%;
}

header #navigation{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header #logo img {
    width: auto;       
    max-height: 100%;       
}


header #navigation #header-nav{
    list-style: none;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

header #navigation #header-nav li a{
    text-decoration: none;
    background-color: #DEC78E;
    color: #205167;
    font-weight: 200;
}

header #plan{
    position: absolute;
    right: 10%;
    background-color: #205167;
    color: #F0F0E8;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-decoration: none;
    display: inline-block;
}

header #plan:hover{
    color: #DEC78E;
}

main{
    background: #DEC78E;
    display:flex;
    flex-direction: column;
    /* gap: 20px; */
    width: 100%;
    max-height: auto;
    padding: 60px 0px 0px 0px;
    
}

#filler {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 650px;
    overflow: hidden; 
    text-align: center; 
}

#filler img {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: 0;
}

#filler .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1;
}

#filler .marketing {
    position: relative; 
    z-index: 2;
    color: #F0F0E8;
    font-size: 3rem;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.7);
    margin-top: 0;
    margin-bottom: 20px;
    max-width: 90%;   
}

#add-marketing {
    position: relative;
    z-index: 2;
    color: #F0F0E8;
    font-size: 1.5rem;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.7);
    margin-bottom: 0;
    max-width: 80%;  
}


#articles{
    display: flex;
    flex-direction: row;
    margin-top:0;
    /* gap:5px; */
    border: black solid 1px;
}

#main-article{
    display: flex;
    /* height: 100%; */
    flex-direction: column;
    flex: 1.5;
    border-right: black solid 2px;
}

.other-articles {
    flex: 1; 
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    padding: 0;
}


.other-articles div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#main_preview{
    min-height: 300px;
    object-fit: cover;
}

main img {
  width: 100%;        
  height: auto;       
  object-fit: cover;  
}


.image-wrapper {
  position: relative;   
  display: flex;
  flex: 1;
  width: 100%;
  overflow: hidden;     
  border-radius: 6px;   
}

.image-wrapper img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.image-wrapper .headline {
  position: absolute;
  bottom: 10px;
  left: 15px;
  text-align: left;
  color: #F0F0E8;
  font-size: 1rem;
  margin: 0;

  text-shadow:
    0 0 5px rgba(0,0,0,1),
    0 0 10px rgba(0,0,0,1),
    -2px -2px 4px rgba(0,0,0,1);
}


.image-wrapper #zw {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  font-size: 20px;
  cursor: pointer;
  text-shadow: 1px 1px 6px rgba(0,0,0,0.7);
  
}

.image-wrapper #zw:hover{
    color: #DEC78E;
}

#bridge{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.br_p{
    font-size: 1.1rem;
    padding: 5px;
    width: 80%;
    margin-bottom: 10px;
}

footer {
    background: #205167 ;
    color: #F0F0E8;
    padding: 20px;
    text-align: center;
    flex-grow: 0;
    position: relative;
}


